

/* Font Family */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}
h4,h5,h6{
   font-family: 'Secular One', sans-serif; 
   font-weight: 500;
}
/* Expand */

/* cursor */

a { cursor: pointer !important; }


/* Blocquotes */

.blockquote p {
    font-family: "Utopia-italic";
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
}

/*blockquote p::before {
    content: "\f095"; 
    font-family: FontAwesome;
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
  font-size: 180px;
 }*/

.blockquote:before {

  font-family: 'FontAwesome';
  top: 0;
  
  content:"\f10d";
  font-size: 200px;
  color: rgba(0,0,0,0.1);
   
}

.blockquote::after {
    content: "";
    top: 20px;


    position: absolute;
    border-bottom: 3px solid #bf0024;
    height: 3px;

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.otro-blockquote{
  font-size: 1.4em;

  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

.otro-blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.otro-blockquote::after{
  content: '';
}

.otro-blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

/* Social Sites */
.social-buttons{
    display:inline-block;
    background: rgba(256,256,256,0.5);
    padding:20px;
    padding-bottom: 5px;
    border-radius:10px;
    text-align:center;
    margin:20px 10px;
    box-shadow: 0px 0px 32px -7px #00199f;
  }
    
  /* Helper class to divide the icons */
  .social-margin {
    margin-right: 15px;
  }
  
  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }
  
  .social-icon {
    margin-bottom: 15px;
     box-sizing: border-box;
    -moz-border-radius: 138px;
    -webkit-border-radius: 138px;
    border-radius: 138px;
    border: 5px solid;
    text-align: center;
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 1px;
    padding-top: 11px;
    transition: all 0.5s;
  }
  .social-icon:hover {
      transform: rotate(360deg)scale(1.3);
    }
    /* Facebook Button Styling */
   .facebook {
      font-size: 22px;
      padding-top: 9px;
      border-color: #3b5998;
      background-color: #3b5998;
      color: #ffffff;
     
    }
    .facebook:hover {
      background-color: #ffffff;
      color: #3b5998;
    }
    /* Twitter Button Styling */
  .twitter {
      font-size: 22px;
      padding-top: 10px;
      padding-left: 2px;
      border-color: #55acee;
      background-color: #55acee;
      color: #ffffff;
      
    }
    .twitter:hover {
      background-color: #ffffff;
      color: #55acee;
    }
    /* Google+ Button Styling */
    .google-plus {
      font-size: 22px;
      padding-top: 9px;
      padding-left: 2px;
      background-color: #dd4b39;
      color: #ffffff;
      border-color: #dd4b39;
      
    }
    .google-plus :hover {
      background-color: #ffffff;
      color: #dd4b39;
    }
    /* Linkedin Button Styling */
    .linkedin {
      font-size: 24px;
      padding-top: 8px;
      padding-left: 1px;
      background-color: #0976b4;
      color: #ffffff;
      border-color: #0976b4;
      
    }
    .linkedin :hover {
      background-color: #ffffff;
      color: #0976b4;
    }
    /* Pinterest Button Styling */
  .pinterest {
      font-size: 22px;
      padding-top: 9px;
      background-color:  #cb2027;
      color: #ffffff;
      border-color:  #cb2027;
      
    }
    .pinterest:hover {
      background-color: #ffffff;
      color:  #cb2027;
    }
    /* Behance Button Styling */
    .behance {
      font-size: 22px;
      padding-top: 9px;
      background-color: #1769ff;
      color: #ffffff;
      border-color: #1769ff;
      
    }
    .behance :hover {
      background-color: #ffffff;
      color: #1769ff;
    }
  
    /* Github Button Styling */
   .github {
      font-size: 22px;
      padding-top: 9px;
      background-color: #4183c4;
      color: #ffffff;
      border-color: #4183c4;
      
    }
    .github:hover {
      background-color: #ffffff;
      color: #4183c4;
    }
    /* Youtube Button Styling */
   .youtube {
      font-size: 22px;
      padding-top: 9px;
      padding-left: 0px;
      background-color: #bb0000;
      color: #ffffff;
      border-color: #bb0000;
      
    }
    .youtube  :hover {
      background-color: #ffffff;
      color: #bb0000;
    }
    /* Soundcloud Button Styling */
    .soundcloud {
      font-size: 22px;
      padding-top: 9px;
      padding-left: 0px;
      background-color: #ff3a00;
      color: #ffffff;
      border-color: #ff3a00;
      
    }
    .soundcloud :hover {
      background-color: #ffffff;
      color: #ff3a00;
    }
  